body {
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  color: white;
}

:root {
  font-size: 10px;
  --purple: #4f008c;
  --coral: #ff375e;
  --onyx: #1d252d;
  --silver: #8e9aa0;
  --moon-light: #a54ee1;
}

.submit-button {
  width: fit-content;
  padding: 1rem 2rem;
  margin-top: 3rem;

  color: white;
  font-size: 1.3rem;
  font-weight: bold;

  background-color: var(--coral);
  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.submit-button:hover {
  filter: brightness(0.9);
}
